#container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(16, auto);
  width: 720px;
  height: 720px;
  background-color: red;
}
.square {
  width: 45px;
  height: 45px;
  background-color: brown;
  border: solid black 1px;
}
